.search-wrapper {
  min-height: 70vh;
  padding: 4rem 5%;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  display: flex;
  align-items: center;
}
.search-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  h1 {
    font-size: $header2;
    margin-bottom: 4rem;
  }
  form {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    input {
      padding: 1rem 3rem;
      width: 100%;
      border: none;
      outline: none;
      background: whitesmoke;
    }
    button {
      cursor: pointer;
      padding: 1rem 3rem;
      border: none;
      background: linear-gradient(to right, #65dfc9, #6cdbeb);
    }
  }
}
.search-bg-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }
}

.movies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.trending-movies-container,
.animation-movies-container,
.horror-movies-container,
.mystery-movies-container {
  overflow-x: hidden;
  padding: 2rem 5%;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2px);

  h2 {
    padding-bottom: 3rem;
    font-family: abril;
    cursor: auto;
  }
}
.movies {
  cursor: grab;
  display: flex;
  gap: 4rem;
  width: min-content;
}

.movie-card {
  position: relative;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  &:hover .movie-info {
    cursor: pointer;
    backdrop-filter: blur(0.5rem);
    opacity: 1;
  }
}
.movie-poster {
  overflow: hidden;
  height: 100%;
  min-width: 30rem;
  cursor: pointer;
  border-radius: 2rem;

  img {
    transition: all 0.5s ease;
    pointer-events: none;
    cursor: grab;
    width: 100%;
    height: 100%;
  }
  &:hover img {
    cursor: pointer;
    scale: 1.2;
  }
}
.movie-info {
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  h5 {
    padding: 2rem 0;
    font-weight: 400;
  }
}
