.movie-detail-wrapper {
  min-height: 90vh;
  min-height: 90svh;
  padding: 2rem 5%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}
.detail-movie-poster {
  flex: 1 1 30rem;
  text-align: center;
  img {
    border-radius: 4rem;
    width: 80%;
    height: auto;
  }
}
.movie-details {
  flex: 2 1 40rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.detail-head {
  span {
    font-weight: 400;
  }
  h5 {
    margin: 1rem 0;
  }
}
.detail-text {
  h3 {
    margin-bottom: 2rem;
  }
}
.bg-img {
  background: rgb(27, 27, 27);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
