nav {
  padding: 1rem 5%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  background: rgb(24, 24, 24);
  a {
    font-family: "Lobster", cursive;
    text-decoration: none;
    color: rgb(24, 24, 24);
    font-weight: 400;
    background: #65dfc9;
    padding: 3px;
    border-radius: 4px;
    font-size: $header3;
  }
}
