nav {
  padding: 1rem 5%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 30px rgba(32, 89, 80, 0.3);
  a {
    color: whitesmoke;
  }
}
